APP_NAME=gateway-service
APP_ENV=dev

JWT_PUBLIC_KEY=file://./keys/public-key.pem
JWT_PRIVATE_KEY=file://./keys/private-key.pem

REDIS_HOST=redis-auth
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

AUTH_HOST=http://auth-service
AUTH_PORT=9501

USER_HOST=http://auth-service
USER_PORT=9501