APP_NAME=skeleton
APP_ENV=dev

DB_DRIVER=pgsql
DB_HOST=postgres-auth
DB_PORT=5432
DB_DATABASE=hyperf
DB_USERNAME=hyperf
DB_PASSWORD=password
DB_PREFIX=

JWT_PUBLIC_KEY=file://./keys/public-key.pem
JWT_PRIVATE_KEY=file://./keys/private-key.pem

REDIS_HOST=redis-auth
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0