APP_NAME=notification-service
APP_ENV=dev

DB_DRIVER=pgsql
DB_HOST=postgres-notification
DB_PORT=5432
DB_DATABASE=hyperf
DB_USERNAME=hyperf
DB_PASSWORD=password
DB_PREFIX=

AMQP_HOST=rabbitmq
AMQP_PORT=5672
AMQP_USER=guest
AMQP_PASSWORD=guest
AMQP_VHOST=/

REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

# Mail settings
# MAIL_DRIVER=log will only log emails (default dev behaviour)
# MAIL_DRIVER=smtp will send real emails via PHP mail()
MAIL_DRIVER=log
MAIL_FROM=noreply@notification.local
MAIL_FROM_NAME="Hyperf Pix Notifications"
