APP_NAME=skeleton
APP_ENV=dev

DB_DRIVER=pgsql
DB_HOST=postgres-transaction
DB_PORT=5432
DB_DATABASE=hyperf
DB_USERNAME=hyperf
DB_PASSWORD=password
DB_PREFIX=

REDIS_HOST=redis-transaction
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0